<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modules.sys.dao.SubscriberDao">
	
	<!-- 根据用户帐号获取信息 -->
	<select id="getByUserName" parameterType="String" resultType="com.modules.sys.orm.Subscriber">
		select * from s_user where username=#{userName}
	</select>
	
	<!-- 根据用户帐号获取相关的角色信息 -->
	<select id="getRoles" parameterType="String" resultType="String">
		select r.roleNo from s_user u,s_role r where u.roleId=r.id and u.username=#{userName}
	</select>
	
	<!-- 根据用户帐号获取权限信息  -->
	<select id="getPermissions" parameterType="String" resultType="String">
		select 
		m.permitno 
		from s_user u,s_role r,s_permission p,s_module m 
		where m.id=p.moduleid 
		and u.roleid=r.id 
		and p.roleid=r.id 
		and m.permitno IS NOT NULL 
		and u.username=#{userName}
	</select>
	
	<!-- 根据id查询 -->
	<select id="findOne" parameterType="java.lang.String" resultType="com.modules.sys.orm.Subscriber">
		select u.*,r.rolename as roleName from s_user u left join s_role r on u.roleid=r.id where u.id=#{id}
	</select>
	
	<!-- 模糊查询 -->
	<select id="queryList" parameterType="java.util.Map" resultType="com.modules.sys.orm.Subscriber">
		select u.*,r.rolename as roleName from s_user u left join s_role r on u.roleid=r.id
		<where>
			<if test="username != null">and u.username like "%"#{username}"%"</if>
			<if test="roleid != null">and u.roleid = #{roleid}</if>
		</where>
	</select>
	
	<!-- 修改用户状态 -->
	<update id="editActivity" parameterType="java.util.Map">
		update s_user u
		set 
		<if test="ifactivate != null">u.ifactivate = #{ifactivate}</if>
		<if test="ifspeak != null">,u.ifspeak = #{ifspeak}</if>
		where u.id = #{id}
	</update>
	
	<!-- 批量删除 -->
	<delete id="deleteUser" parameterType = "java.util.List">
		delete from s_user where id in 
		<foreach item="ids" collection="list" open="(" separator="," close=")">#{ids}</foreach>
	</delete>
	
	<!-- 根据角色代号查询用户信息-->
	<select id="queryByRoleNo" parameterType = "java.lang.String" resultType="com.modules.sys.orm.Subscriber">
		select u.* from s_user u left join s_role r on u.roleid = r.id where r.roleno = #{roleno}
	</select>
</mapper> 