<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modules.sys.dao.SubscriberDao">
	
	<select id="getByUserName" parameterType="String" resultType="com.modules.sys.orm.Subscriber">
		select * from s_user where username=#{userName}
	</select>
	
	<select id="getRoles" parameterType="String" resultType="String">
		select r.roleNo from s_user u,s_role r where u.roleId=r.id and u.username=#{userName}
	</select>
	
	<select id="getPermissions" parameterType="String" resultType="String">
		select p.permitNo from s_user u,s_role r,s_permission p where u.roleid=r.id and p.roleId=r.id and u.username=#{userName}
	</select>
	
	<select id="queryList" parameterType="java.util.Map" resultType="com.modules.sys.orm.Subscriber">
		select u.*,r.rolename as roleName from s_user u left join s_role r on u.roleid=r.id
		<where>
			<if test="username != null">and u.username = #{username}</if>
			<if test="nickname != null">and u.nickname like "%"#{nickname}"%"</if>
		</where>
	</select>
	
	<update id="editActivity" parameterType="java.util.Map">
		update s_user u
		set 
		<if test="ifactivate != null">u.ifactivate = #{ifactivate}</if>
		<if test="ifspeak != null">,u.ifspeak = #{ifspeak}</if>
		where u.id = #{id}
	</update>
	
</mapper> 